<p style="color: green"><%= notice %></p>

<h1>Menus</h1>
<p><%= link_to "Categories", categories_path %></p> 

<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody id="menus">
      
      <% @menus.each do |menu| %>
        <tr>
          <td><%= menu.item_name %></td>
          <td><%= menu.price %></td>
          <td><%= menu.description %></td>
          <td><%= render menu.categories %></td>
          <td><%= link_to "Show", menu %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<%= link_to "New menu", new_menu_path %>
