<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody id="customers">
      
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.email %></td>
          <td><%= link_to "Show", customer %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<%= link_to "New customer", new_customer_path %>
