<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div class="form-group">
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, options_for_select(["NEW", "PAID", "CANCELLED"]), :class => 'genForm_dropBox' %>
  </div>

  <div class="form-group">
    <%= form.label :Customer, style: "display: block" %>
    <%= form.collection_select :customer_id, Customer.order(:email), :id, :email, {}, {class: 'select2'} %>
  </div>

  <strong>Both item and price is in the same order</strong>

  <table class="table" id="menus">
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <tbody class="order_details">
        <%= form.fields_for :order_details do |f| %>
          <%= render 'order_detail_fields', f: f %>
        <% end %>
  </tbody>
</table>
  <div>
    <%= link_to_add_association 'Add item', form, :order_details, data: {association_insertion_node: '.order_details', association_insertion_method: :append} %>
    <%= form.submit %>
  </div>
<% end %>
